body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lightslategray;
    font-size: 1.5rem;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-cont {
    border: 1px solid blue;
    display: grid;
    width: clamp(400px, 80%, 2000px);
    grid-template-columns: repeat(auto-fill, clamp(200px, 25%, 500px));
    gap: 15px;
    margin: 10px;

}

.book {
    background-color: rgb(248, 115, 115);
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

dialog {
    /* width: clamp(50%, 600px, 600px); */
    /* height: clamp(20%, 300px, 300px); */
    position: absolute;
    height: 400px;
    width: 350px;
    top: 25%;
    left: 50%;
    margin-top: -200px;
    margin-left: -175px;
    border-radius: 10px;
    z-index: 1;
}

.form-add {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
    /* color: #67615c;
    z-index: 1;
    position: absolute;
    left: 30%;
    height: 650px;
    width: 30rem;
    background-color: rgb(255, 255, 255);
    padding-left: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    transition: all 0.5s ease-in; */
}

input,
.close {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

button {
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: orangered;
    border: 2px solid orangered;
    border-radius: 10px;
}

.remove {
    position: absolute;
    top: 5px;
    right: 5px;
    background: orangered;
    border: 2px solid orangered;
    border-radius: 10px;
}

.remove:hover {
    background-color: aqua;
}
